<p>Currently chatting in <strong><%= @room_id %></strong></p>

<div id="chat-container"> 
  <div id="chat-messages">
       <%= for {room_id, message} <- @messages do %>
          <p><strong><%= room_id %>:</strong> <%= message %></p>
        <% end %>
  </div>
  <form phx-submit="submit_message">
     <input type="text"
     name="message"
     value={@message} 
     phx-submit="submit-message" placeholder="Enter Your Message..."/>
      <button type="submit" />
   </form> 
</div>

